@import '../common.scss';

.header {
  height: $header-height;

  z-index: $z-index-header;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;

  background-color: $background-white;
  box-shadow: $box-shadow;

  &__left {
    // width: 50%;
    // padding: 0 25px;
    padding-left: 25px;

    flex: 0 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media (max-width: $break-point-small) {
    //   width: calc(65% - 10px);
    //   padding-left: 10px;
    //   padding-right: 0;
    // }

    // &--left {
    //   width: 50%;

    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;

    //   @media (max-width: $break-point-small) {
    //     width: auto;
    //   }
    // }

    // &--right {
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    // }
  }

  &__right {
    // width: 35%;
    // padding: 0 25px;
    padding-right: 25px;

    display: flex;
    align-items: center;
    // justify-content: space-between;

    // @media (max-width: $break-point-small) {
    //   width: 35%;
    //   padding-left: 0;
    //   padding-right: 10px;
    // }
  }

  &__searchBarContainer {
    position: fixed;
    z-index: $z-index-searchBar;
    top: $footer-height;
    left: 0;

    width: 100%;
    height: $header-height;
    padding: 0 10px;

    background-color: $background-white;

    display: flex;
    align-items: center;
  }

  &__searchBar {
    position: relative;

    flex: 1;
    height: $search-height;
  }

  &__search {
    position: relative;

    width: 400px;
    height: $search-height;

    margin-left: 40px;

    @media (max-width: 1070px) {
      width: 200px;
    }
  }

  &__searchBar,
  &__search {
    > input {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 80px;
      padding-right: 20px;

      color: $sub-title-color;
      font-size: $size-5;

      border-radius: 5px;
      background-color: rgba($color: $background-color-hover, $alpha: 0.4);

      &::placeholder {
        color: $placeholder-text-color;
      }
    }
  }

  &__logo {
    cursor: pointer;
    user-select: none;
    position: relative;

    > img {
      display: block;

      height: $logo-height;

      position: relative;
      z-index: 2;
    }

    @extend %hover-effect;
    &:hover {
      &::before {
        top: -5px;
        bottom: -5px;
      }
    }
  }

  &__searchIcon1 {
    cursor: pointer;
    user-select: none;

    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    font-size: $icon-size;
  }

  &__noti {
    position: relative;

    &-unread {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(20%, 20%);

      width: 20px;
      height: 20px;

      background-color: $main-color;

      border-radius: 50%;

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 10px;
        color: $background-white;
      }
    }
  }

  &__iconHover {
    cursor: pointer;
    user-select: none;

    color: $text-color;
    font-size: $icon-size;

    display: block;
    border-radius: 5px;

    > svg {
      display: block;
    }

    &:hover {
      background-color: $background-color-hover;
    }
  }

  &__buyNB {
    height: 130px;
    padding: 0 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__NBquantity {
    color: #525252;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  &__NBdesc {
    font-size: 18px;
    font-weight: 400;
  }

  &__NBdetail {
    cursor: pointer;
    user-select: none;

    padding-top: 10px;

    color: $main-color;
    font-size: $size-5;
    font-style: italic;
    font-weight: 300;

    text-align: right;
    text-decoration: underline;
  }

  &__notification {
    position: relative;
  }

  &__notificationIcon {
    display: block;
    cursor: pointer;
    user-select: none;
  }

  &__title {
    padding: 15px 30px;
    color: #020202;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid #bababa;
  }

  &__emptyNotification {
    padding: 0 30px;
    text-align: center;
    color: #747474;
    font-size: 16px;
    margin-top: 150px;

    p:nth-child(1) {
      color: #020202;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  &__notiItem {
    cursor: pointer;
    user-select: none;

    padding: 10px;
    transition: 0.3s;

    &-date {
      font-size: 12px;
      text-align: right;
    }

    &:hover {
      background-color: $background-color-hover;
    }
  }

  &__avatar {
    position: relative;

    width: 50px;
    height: 50px;

    overflow: hidden;

    border-radius: 50%;

    @media (max-width: $break-point-extra-small) {
      width: 30px;
      height: 30px;
    }
  }

  &__info {
    padding: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-avatar {
      position: relative;

      width: 50px;
      height: 50px;

      overflow: hidden;

      border-radius: 50%;
    }

    > div:nth-child(2) {
      padding-left: 20px;
      width: calc(100% - 50px);
    }

    &-name {
      color: $sub-title-color;
      font-size: $size-2;
      font-weight: 700;
      @include hidden-text(1);
    }

    &-follow {
      color: $text-color;
      font-size: $size-4;
      @include hidden-text(1);
    }
  }

  &__manage {
    cursor: pointer;
    user-select: none;

    padding: 0 30px;
    height: 50px;
    line-height: 50px;

    color: $text-color;
    font-size: $size-4;

    &:hover {
      background-color: $background-color-hover;
    }
  }

  &__login {
    cursor: pointer;
    user-select: none;

    color: $main-color;
    font-size: $size-4;
    font-weight: 500;
    @include hidden-text(1);

    &:hover {
      text-decoration: underline;
    }
  }
}

.popper {
  overflow-y: auto;
  @extend %custom-scrollbar;

  width: 450px;
  height: 600px;

  border-radius: 5px;
  box-shadow: $box-shadow-popper;
  background-color: $background-white;

  position: absolute;
  top: calc(100% + 20px + 20px);
  right: 20px;

  transition: 0.3s;
  opacity: 0;
  pointer-events: none;

  &.show {
    top: calc(100% + 20px);

    opacity: 1;
    pointer-events: all;
  }

  &--userinfo {
    width: 400px;
    height: auto;
  }

  @media (max-width: $break-point-small) {
    right: 0;

    width: 375px;
  }
}
