@import '../common.scss';

.header {
  height: $header-height;

  z-index: $z-index-header;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;

  background-color: $background-white;
  box-shadow: $box-shadow;

  &__searchBarCon {
    position: fixed;
    z-index: $z-index-searchBar;
    top: $footer-height;
    left: 0;

    width: 100%;
    height: $header-height;
    padding: 0 10px;

    background-color: $background-white;

    display: flex;
    align-items: center;
  }

  &__searchBar {
    position: relative;

    flex: 1;
    height: $search-height;
  }

  &__search {
    position: relative;

    width: 500px;
    min-width: 250px;
    height: $search-height;

    margin-left: 20px;
  }

  &__searchBar,
  &__search {
    > input {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 80px;
      padding-right: 20px;

      color: $sub-title-color;
      font-size: $size-4;

      border-radius: 5px;
      background-color: rgba(217, 217, 217, 0.4);

      &::placeholder {
        color: $light-text-color;
      }
    }
  }

  &__left {
    width: calc(75% - 10px);
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      width: 50%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        width: auto;
      }
    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__right {
    width: 25%;
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    cursor: pointer;
    user-select: none;
    position: relative;

    > img {
      display: block;

      height: $logo-height;

      position: relative;
      z-index: 2;
    }

    &:hover {
      &::before {
        content: '';
        pointer-events: none;

        z-index: 1;
        position: absolute;
        top: -5px;
        left: -10px;
        right: -10px;
        bottom: -5px;

        border-radius: 5px;
        background-color: $background-color-hover;
      }
    }
  }

  &__searchIcon1 {
    cursor: pointer;
    user-select: none;

    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    font-size: $icon-size;
  }

  &__iconHover {
    cursor: pointer;
    user-select: none;

    color: $main-color;
    font-size: $icon-size;

    display: block;
    border-radius: 5px;

    &:hover {
      background-color: $background-color-hover;
    }
  }

  &__buyNB {
    height: 130px;
    padding: 0 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__NBquantity {
    color: #525252;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  &__NBdesc {
    font-size: 18px;
    font-weight: 400;
  }

  &__NBdetail {
    cursor: pointer;
    user-select: none;

    padding-top: 10px;

    color: $main-color;
    font-size: $size-5;
    font-style: italic;
    font-weight: 300;

    text-align: right;
    text-decoration: underline;
  }

  &__notification {
    position: relative;
  }

  &__notificationIcon {
    display: block;
    cursor: pointer;
    user-select: none;
  }

  &__title {
    padding: 15px 30px;
    color: #020202;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid #bababa;
  }

  &__emptyNotification {
    padding: 0 30px;
    text-align: center;
    color: #747474;
    font-size: 16px;
    margin-top: 150px;

    p:nth-child(1) {
      color: #020202;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  &__avatar {
    position: relative;

    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;

    &-img {
      cursor: pointer;
      user-select: none;

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(var(--x), var(--y));

      width: var(--zoom);

      object-fit: cover;
    }
  }

  &__info {
    padding: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-avatar {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;

      &-img {
        // cursor: pointer;
        // user-select: none;

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(var(--x), var(--y));

        width: var(--zoom);
        object-fit: cover;
        border-radius: 50%;
      }
    }

    > div:nth-child(2) {
      padding-left: 20px;
      width: calc(100% - 50px);
    }

    &-name {
      color: $sub-title-color;
      font-size: $size-2;
      font-weight: 700;
      @include hidden-text(2);
    }

    &-follow {
      color: $text-color;
      font-size: $size-4;
      @include hidden-text(2);
    }
  }

  &__manage {
    cursor: pointer;
    user-select: none;

    padding: 0 30px;
    height: 50px;
    line-height: 50px;

    color: $text-color;
    font-size: $size-4;

    &:hover {
      background-color: $background-color-hover;
    }
  }

  &__login {
    cursor: pointer;
    user-select: none;

    color: $main-color;
    font-size: $size-4;
    font-weight: 500;
    @include hidden-text(1);

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    &__left {
      padding-left: 10px;
    }

    &__right {
      padding-left: 0;
      padding-right: 10px;
    }
  }
}

.popper {
  width: 450px;
  height: 600px;

  border-radius: 5px;
  box-shadow: $box-shadow-popper;
  background-color: $background-white;

  position: absolute;
  top: calc(100% + 10px + 20px);
  right: 20px;

  transition: 0.3s;
  opacity: 0;
  pointer-events: none;

  &.show {
    top: calc(100% + 10px);

    opacity: 1;
    pointer-events: all;
  }

  &--userinfo {
    width: 400px;
    height: auto;
  }

  @media (max-width: $break-point-small) {
    right: 0;

    width: 375px;
  }
}
