@import '../common.scss';

.recommend {
  &__titleList {
    cursor: pointer;
    user-select: none;

    padding: 10px 25px;
    margin-bottom: 15px;

    color: $title-color;
    font-size: $size-2;
    font-weight: 600;

    border-radius: 5px;
    border-bottom: $border-bottom;

    background-color: $background-white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.mb-0 {
      margin-bottom: 0;
    }

    > svg {
      transition: 0.3s;
    }

    > svg.up {
      transform: rotate(180deg);
    }
  }
}
