@import '../common.scss';

.videoInfo {
  &__info {
    margin-top: 20px;
    margin-bottom: 50px;

    &-info {
      display: flex;
      align-items: flex-start;

      margin-top: 20px;

      $avatar-width: 50px;

      > div:nth-child(1) {
        width: $avatar-width;
        min-width: 50px;
      }

      > div:nth-child(2) {
        flex: 1 1 auto;
        padding: 0 25px;
      }

      > div:nth-child(3) {
      }
    }
  }

  &__titleVideo {
    color: $sub-title-color;
    font-size: $size-3;
    line-height: 34px;
    font-weight: 700;

    min-height: 34px;
    padding-right: 34px;

    position: relative;
  }

  &__menuBox {
    cursor: pointer;
    user-select: none;

    position: absolute;
    top: 0;
    right: 0;

    width: 34px;
    height: 34px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    @extend %ripple-effect;

    > .menu-icon {
      z-index: 2;
      position: relative;

      pointer-events: none;

      color: $title-color;
      font-size: 24px;
    }

    > .menu {
      padding: 10px 0;

      background-color: $background-white;

      position: absolute;
      top: 100%;
      right: 0;

      border-radius: 5px;
      border: $border-bottom;

      display: flex;
      flex-flow: column nowrap;

      width: max-content;

      > .menu-item {
        cursor: pointer;
        user-select: none;

        color: $text-color;
        font-size: $size-5;
        font-weight: 500;

        padding: 5px 20px;

        display: flex;
        align-items: center;

        > .icon {
          margin-right: 10px;
        }

        &:hover {
          background-color: $background-color-hover;
        }
      }

      opacity: 0;
      pointer-events: none;

      &.show {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__avatar {
    cursor: pointer;
    user-select: none;

    position: relative;

    &::before {
      content: '';

      display: block;
      padding-top: 100%;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;

      border-radius: 50%;
    }
  }

  &__name {
    color: $title-color;
    font-size: $size-6;
    font-weight: 500;
  }

  &__date {
    cursor: pointer;
    user-select: none;

    color: $text-color;
    font-size: $size-6;
    font-weight: 600;

    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__view {
    color: $text-color;
    font-size: $size-7;

    margin-bottom: 30px;
  }

  &__view1 {
    color: $text-color;
    font-size: $size-6;

    margin-bottom: 10px;

    > span:nth-child(3) {
      cursor: pointer;
      user-select: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__desc {
    font-size: $size-6;
    line-height: 1.5;

    white-space: pre-wrap;

    @include hidden-text(4);

    &.d-block {
      display: block;
    }
  }

  &__showMore {
    cursor: pointer;
    user-select: none;

    color: $text-color;
    font-size: $size-6;
    font-weight: 500;
    text-transform: capitalize;

    padding: 15px 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__action {
    > button:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (max-width: $break-point-small) {
      > button {
        > .icon {
          margin-right: 0;
        }
      }
    }

    @media (max-width: $break-point-extra-small) {
      > button {
        padding: 0 5px;
        border-radius: 999px;
      }
    }
  }

  &__comment {
    padding-top: 35px;

    border-top: $border-bottom;

    $avatar-width: 50px;

    &-total {
      color: $sub-title-color;

      margin-bottom: 15px;
    }

    &-input {
      display: flex;
      align-items: center;

      .left {
        position: relative;

        width: $avatar-width;
        height: $avatar-width;
      }

      .right {
        width: calc(100% - #{$avatar-width});
        padding-left: 10px;

        input {
          width: 100%;
          padding-bottom: 5px;
          padding-left: 10px;

          border: none;
          border-bottom: $border-bottom;

          color: $text-color;
          font-size: $size-7;

          background-color: transparent;
        }

        @extend %input-effect;
      }
    }

    &-list {
      .comment {
        display: flex;
        align-items: flex-start;

        width: 100%;
        margin-top: 30px;

        .left {
          position: relative;

          width: $avatar-width;
          height: $avatar-width;
        }

        .right {
          width: calc(100% - #{$avatar-width});
          padding-left: 10px;

          .name {
            color: $title-color;
            font-size: $size-6;
            font-weight: 600;

            margin-bottom: 5px;

            > span:nth-child(2),
            > span:nth-child(3) {
              color: $text-color;
              font-size: $size-7;
              font-weight: 400;
              cursor: pointer;
              user-select: none;
            }
          }

          .content {
            font-size: $size-7;
          }
        }
      }
    }
  }
}

.popupBox {
  z-index: $z-index-popup;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  > .mask {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba($color: #000, $alpha: 0.5);
  }

  > .content {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    padding: 25px;

    border: $border-bottom;
    border-radius: 10px;

    box-shadow: $box-shadow-popper;

    background-color: $background-white;
  }

  .label {
    color: $title-color;
    font-size: $size-3;
    font-weight: 500;

    margin-bottom: 5px;
  }

  input {
    color: $text-color;
    font-size: $size-5;

    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 20px;

    border-radius: 5px;
    border: 1px solid $main-color;
  }

  textarea {
    color: $text-color;
    font-size: $size-5;

    width: 100%;
    padding: 15px;
    min-height: 300px;
    margin-bottom: 20px;

    resize: none;
    outline: none;

    border-radius: 5px;
    border: 1px solid $main-color;
  }
}
