@import '../common.scss';

.home {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f7f7f7;
    height: calc(100vh - 40px - 80px);

    @extend %hidden-scrollbar;

    &__left {
        width: calc(75% - 10px);
        height: calc(100% - 20px);
        box-shadow: $box-shadowLeft;
        background-color: $background-white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.3s;

        @extend %hidden-scrollbar;

        padding-left: 25px;
        padding-right: 15px;

        @media (max-width: 1700px) {
            padding-right: 25px;
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        @media (max-width: 768px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__right {
        width: 25%;
        min-width: $min-width-homeRight;
        max-width: $max-width-homeRight;
        height: calc(100% - 20px);
        box-shadow: $box-shadowRight;
        background-color: $background-white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: 0.3s;

        @extend %hidden-scrollbar;

        @media (max-width: 1700px) {
            z-index: $z-index-homeRight;
            position: fixed;
            margin: 0;
            top: 130px;
            right: 0;
            height: var(--homeRight-height);
            border-top-left-radius: 0;

            transform: translateX(100%);
            &.show {
                transform: translateX(0);
            }
        }
    }

    &__showRight {
        z-index: $z-index-homeRight;
        position: fixed;
        top: 130px;
        right: 0;
        width: 48px;
        height: 60px;
        border: 1px solid #d1d1d1;
        background-color: #eaeaea;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        transition: 0.3s;

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgba(169, 171, 179, 0.5);
            font-size: 40px;
            transition: 0.3s;
        }

        &.show {
            transform: translateX(-$min-width-homeRight);

            .icon {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        &:hover {
            .icon {
                color: rgba(169, 171, 179, 1);
            }
        }
    }

    &__title {
        padding: 15px 0;
        color: #000;
        font-size: 26px;
        font-weight: 600;
        border-bottom: 1px solid #bababa;
        margin-bottom: 20px;

        &.m-0 {
            margin: 0;
        }
    }
}
