@import '../common.scss';

.profile {
  .fullscreen-mask {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba($color: #000, $alpha: 0.7);

    .fullscreen {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      max-width: 100vw;
      max-height: 100vh;
      height: auto;
      padding: 10px;

      border: 1px solid #eaeaea;
      border-radius: 15px;

      background-color: #9e7171;
    }
  }

  &__cover {
    position: relative;

    max-width: 940px;
    margin: 0 auto 200px;
  }

  &__IMGcover {
    @include padding-img(3, rgba($color: #fff, $alpha: 0.1), 0);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &-button {
      > .icon {
        margin-right: 5px;
      }

      z-index: 2;
      position: absolute;
      top: 20px;
      right: 20px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $title-color;
      font-size: $size-6;
      background-color: $background-white;

      padding: 10px 20px;

      border-radius: 5px;

      transition: 0.3s;

      &:hover {
        background-color: #d1d1d1;
      }

      @media (max-width: $break-point-small) {
        > .icon {
          margin-right: 0;
        }

        padding: 10px;

        > span {
          display: none;
        }
      }
    }
  }

  &__IMGavatar {
    @include padding-img(1, rgba($color: #000, $alpha: 0.1), 50%);

    border-radius: 50%;
    border: 3px solid $main-color;
  }

  &__IMGavatarBox {
    position: relative;

    width: 30%;
    margin: 0 auto;

    &-button {
      position: absolute;
      right: 0;
      bottom: 0;

      border-radius: 50%;
      background-color: rgba($color: #000, $alpha: 0.5);

      padding: 7px;

      transition: 0.3s;

      > .icon {
        z-index: 3;
        position: relative;

        display: block;
        color: rgba($color: #fff, $alpha: 1);
      }

      &:hover {
        background-color: rgba($color: #000, $alpha: 0.7);
      }
    }
  }

  &__infoBox {
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);

    width: 400px;
    padding: 20px 10px;

    @media (max-width: $break-point-extra-small) {
      width: 370px;

      transform: translate(-50%, 90%);
    }

    @media (max-width: $break-point-extra-small) {
      width: 300px;
    }

    border-radius: 5px;
    box-shadow: $box-shadow;
    background-color: $background-white;
  }

  &__name {
    color: $sub-title-color;
    font-size: $size-3;
    font-weight: 700;
    text-align: center;

    margin-top: 5px;

    @include hidden-text(1);

    @media (max-width: $break-point-extra-extra-small) {
      font-size: $size-5;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > p:nth-child(1) {
      color: $text-color;
      font-size: $size-5;
      font-weight: 500;
      text-align: center;
    }

    > p:nth-child(2) {
      color: $main-color;
      font-size: $size-4;
      font-weight: 700;
      text-align: center;
    }

    @media (max-width: $break-point-extra-extra-small) {
      > p:nth-child(1) {
        font-size: $size-7;
      }

      > p:nth-child(2) {
        font-size: $size-6;
      }
    }
  }

  &__action {
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;

    &-button {
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      > .icon {
        margin-right: 5px;
      }

      padding: 10px 20px;

      color: $main-color;
      font-size: $size-6;
      background-color: $background-white;

      border: 2px solid $main-color;
      border-radius: 5px;

      transition: 0.3s;

      &.active {
        color: $background-white;
        background-color: $main-color;
      }

      @media (max-width: $break-point-small) {
        > .icon {
          margin-right: 0;
        }

        padding: 10px;

        > span {
          display: none;
        }
      }
    }
  }

  &__video {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    position: relative;

    @extend %hover-effect;

    &-thumbnail {
      width: 30%;

      z-index: 2;
      position: relative;

      &::before {
        content: '';

        display: block;
        padding-top: 55%;
      }

      > img {
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        object-fit: cover;

        border-radius: 10px;
      }
    }

    &-info {
      z-index: 2;
      position: relative;

      width: calc(100% - 30%);
      padding-left: 10px;

      &-title {
        color: $sub-title-color;
        font-size: $size-4;
        font-weight: 500;

        margin-bottom: 5px;

        @include hidden-text(2);
      }

      &-view,
      &-date {
        font-size: $size-6;
        font-weight: 500;
      }

      &-date {
        margin-bottom: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      // &-tag {
      //   color: #bababa;
      //   font-size: 18px;
      // }

      &-desc {
        font-size: $size-6;

        @include hidden-text(2);
      }
    }

    @media (max-width: $break-point-extra-small) {
      display: block;

      &-thumbnail {
        width: 100%;
        margin-bottom: 10px;
      }

      &-info {
        width: 100%;
        padding-left: 0;

        &-view {
          display: flex;
          flex-direction: column;

          > span:nth-child(1) {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__video2 {
    cursor: pointer;
    user-select: none;

    position: relative;

    @extend %hover-effect;

    &-thumbnail {
      width: 100%;

      z-index: 2;
      position: relative;

      &::before {
        content: '';
        display: block;
        padding-top: 55%;
      }

      > img {
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        object-fit: cover;

        border-radius: 5px;
      }
    }

    &-title {
      position: relative;

      z-index: 2;
      color: #151515;
      font-size: 26px;
      font-weight: 800;
      text-transform: uppercase;
      padding-top: 15px;
      @include hidden-text(1);
    }
  }

  &__boxPersonal {
    margin-top: 30px;

    &:last-child {
      margin-bottom: 100px;
    }

    &-title {
      padding: 10px 0;
      margin-bottom: 15px;

      color: $title-color;
      font-size: $size-5;
      font-weight: 600;
      text-transform: capitalize;

      // border-bottom: $border-bottom;

      &.mb-0 {
        margin-bottom: 0;
      }
    }
  }

  &__boxManage {
    padding: 25px 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    background-color: $background-white;

    margin-top: 30px;
    &:last-child {
      margin-bottom: 30px;
    }

    &-title {
      position: relative;
      color: #000;
      font-size: 32px;
      font-weight: 600;

      > .icon {
        font-size: 30px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        transition: 0.3s;
        &.rotate {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      margin-bottom: 20px;
      &.mb-0 {
        margin-bottom: 0;
      }
    }
  }

  &__convert {
    &-date {
      font-size: 16px;
      font-weight: 600;
    }

    &-exchange {
      margin-top: 20px;
      display: flex;

      > div:nth-child(1),
      > div:nth-child(3) {
        cursor: pointer;
        user-select: none;
        padding: 10px 20px;
        width: 40%;
        border-radius: 5px;
        box-shadow: $box-shadow;

        transition: 0.3s;
        &:hover {
          background-color: $background-color-hover;
        }

        p:nth-child(1) {
          color: #bababa;
          font-size: 20px;
          font-weight: 600;
        }

        p:nth-child(2) {
          color: #000;
          font-size: 32px;
          font-weight: 500;
        }
      }

      > div:nth-child(2) {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        > .icon {
          cursor: pointer;
          user-select: none;
          color: #e41a7f;
          font-size: 40px;
          border-radius: 5px;

          &:hover {
            background-color: $background-color-hover;
          }
        }
      }
    }

    &-rate {
      user-select: none;
      margin-top: 40px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      > div {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #e41a7f;
        font-size: 72px;

        p:nth-child(2) {
          font-size: 30px;
        }

        @media (max-width: 992px) {
          font-size: 30px;
        }
      }
    }

    &-asset {
      user-select: none;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      > div {
        width: 40%;
        color: #000;
        font-size: 26px;
        font-weight: 600;
        text-align: right;
      }
    }

    &-btnCtn {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }

    &-btn {
      cursor: pointer;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 26px;
      font-weight: 500;
      border-radius: 5px;
      height: 70px;
      min-width: 275px;

      transition: 0.3s;
      background-color: #e41a7f;
      &:hover {
        background-color: #a20051;
      }
    }
  }

  &__link {
    cursor: pointer;
    user-select: none;
    padding-top: 10px;
    width: fit-content;
    margin-left: auto;
    color: #e41a7f;
    font-size: 20px;
    font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }

  &__historyTitle {
    cursor: pointer;
    user-select: none;
    position: relative;

    &:hover::before {
      content: '';
      z-index: 1;
      pointer-events: none;
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border-radius: 5px;
      background-color: $background-color-hover;
    }

    span {
      position: relative;
      z-index: 2;
    }

    svg {
      z-index: 2;
    }
  }

  &__history {
    transition: 0.3s;

    display: none;
    &.show {
      display: block;
    }
  }

  &__package {
    cursor: pointer;
    user-select: none;
    width: 100%;
    position: relative;
    border-radius: 15px;
    background-color: #efefef;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    &:hover {
      background-color: #987575;
    }

    &-img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
      object-fit: cover;
    }
  }

  &__packageAdd {
    cursor: pointer;
    user-select: none;
    width: 100%;
    border-radius: 15px;
    color: #e41a7f;
    border-radius: 15px;
    border: 4px solid #e41a7f;
    display: flex;
    align-items: center;
    justify-content: center;

    > .icon {
      font-size: 60px;
    }

    &:hover {
      color: #fff;
      background-color: #e41a7f;
    }
  }
}
