@import '../common.scss';

$height-cover-photo: 300px;
$top-cover-ctnInfo: 70px;
$height-cover-ctnInfo: 370px;
$width-cover-ctnInfo: 500px;

.profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background-color: $background-color-main;

  margin: 0 auto;
  max-width: 1920px;

  &__center {
    width: 100%;

    transition: 0.3s;
  }

  &__cover {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    height: $top-cover-ctnInfo + $height-cover-ctnInfo;

    &-img {
      display: block;
      position: relative;

      &::before {
        content: '';
        display: block;
        padding-top: $height-cover-photo;
      }

      > img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-ctnInfo {
      padding: 20px 10px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: $width-cover-ctnInfo;
      top: $top-cover-ctnInfo;
      height: $height-cover-ctnInfo;
      border-radius: 5px;
      box-shadow: $box-shadow;
      background-color: $background-white;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }

    &-avatar {
      width: 40%;
      align-self: center;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }

      > img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(var(--x), var(--y));
        width: var(--zoom);
        object-fit: cover;
      }
    }

    &-confirm {
      position: absolute;
      bottom: 10px;
      left: 50%;
      width: 40px;
      height: 30px;
      padding: 10px;
      transform: translate(-50%, 0) rotate(-45deg);
      border-left: 2px solid #00ff00;
      border-bottom: 2px solid #00ff00;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #efefef;
      }
    }

    &-name {
      color: #151515;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > p:nth-child(1) {
        text-align: center;

        color: $text-color;
        font-size: 24px;

        @include hidden-text(2);
      }

      > p:nth-child(2) {
        text-align: center;

        color: $title-color;
        font-size: 34px;
        font-weight: 500;

        @include hidden-text(1);
      }
    }

    &-ctnBtn {
      display: flex;

      position: absolute;
      right: 25px;
      top: $height-cover-photo + 25px;
    }
  }

  &__video {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    position: relative;

    &:hover {
      &::before {
        z-index: 1;
        pointer-events: none;
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border-radius: 5px;
        background-color: #d9d9d9;
      }
    }

    &-thumbnail {
      width: 30%;

      z-index: 2;
      position: relative;

      &::before {
        content: '';
        display: block;
        padding-top: 55%;
      }

      > img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &-info {
      z-index: 2;
      position: relative;

      width: calc(100% - 30%);
      padding-left: 10px;

      &-title {
        color: #151515;
        font-size: 22px;
        font-weight: 500;

        margin-bottom: 5px;

        @include hidden-text(2);
      }

      &-view {
        font-size: 18px;
        font-weight: 500;
      }

      &-date {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      &-tag {
        color: #bababa;
        font-size: 18px;
      }

      &-desc {
        font-size: 18px;
        @include hidden-text(3);
      }
    }
  }

  &__video2 {
    cursor: pointer;
    user-select: none;

    position: relative;
    &:hover {
      &::before {
        z-index: 1;
        pointer-events: none;
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border-radius: 5px;
        background-color: #d9d9d9;
      }
    }

    &-thumbnail {
      width: 100%;
      position: relative;
      z-index: 2;

      &::before {
        content: '';
        display: block;
        padding-top: 55%;
      }

      > img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    &-title {
      position: relative;
      z-index: 2;
      color: #151515;
      font-size: 26px;
      font-weight: 800;
      text-transform: uppercase;
      padding-top: 15px;
      @include hidden-text(1);
    }
  }

  &__boxPersonal {
    margin-top: 30px;

    &:last-child {
      margin-bottom: 100px;
    }

    &-title {
      padding-bottom: 15px;
      color: #000;
      font-size: 26px;
      font-weight: 600;
      border-bottom: 1px solid #bababa;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
  }

  &__boxManage {
    padding: 25px 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    background-color: $background-white;

    margin-top: 30px;
    &:last-child {
      margin-bottom: 30px;
    }

    &-title {
      position: relative;
      color: #000;
      font-size: 32px;
      font-weight: 600;

      > .icon {
        font-size: 30px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        transition: 0.3s;
        &.rotate {
          transform: translateY(-50%) rotate(180deg);
        }
      }

      margin-bottom: 20px;
      &.mb-0 {
        margin-bottom: 0;
      }
    }
  }

  &__convert {
    &-date {
      font-size: 16px;
      font-weight: 600;
    }

    &-exchange {
      margin-top: 20px;
      display: flex;

      > div:nth-child(1),
      > div:nth-child(3) {
        cursor: pointer;
        user-select: none;
        padding: 10px 20px;
        width: 40%;
        border-radius: 5px;
        box-shadow: $box-shadow;

        transition: 0.3s;
        &:hover {
          background-color: $background-color-hover;
        }

        p:nth-child(1) {
          color: #bababa;
          font-size: 20px;
          font-weight: 600;
        }

        p:nth-child(2) {
          color: #000;
          font-size: 32px;
          font-weight: 500;
        }
      }

      > div:nth-child(2) {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        > .icon {
          cursor: pointer;
          user-select: none;
          color: #e41a7f;
          font-size: 40px;
          border-radius: 5px;

          &:hover {
            background-color: $background-color-hover;
          }
        }
      }
    }

    &-rate {
      user-select: none;
      margin-top: 40px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      > div {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #e41a7f;
        font-size: 72px;

        p:nth-child(2) {
          font-size: 30px;
        }

        @media (max-width: 992px) {
          font-size: 30px;
        }
      }
    }

    &-asset {
      user-select: none;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      > div {
        width: 40%;
        color: #000;
        font-size: 26px;
        font-weight: 600;
        text-align: right;
      }
    }

    &-btnCtn {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }

    &-btn {
      cursor: pointer;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 26px;
      font-weight: 500;
      border-radius: 5px;
      height: 70px;
      min-width: 275px;

      transition: 0.3s;
      background-color: #e41a7f;
      &:hover {
        background-color: #a20051;
      }
    }
  }

  &__link {
    cursor: pointer;
    user-select: none;
    padding-top: 10px;
    width: fit-content;
    margin-left: auto;
    color: #e41a7f;
    font-size: 20px;
    font-style: italic;

    &:hover {
      text-decoration: underline;
    }
  }

  &__historyTitle {
    cursor: pointer;
    user-select: none;
    position: relative;

    &:hover::before {
      content: '';
      z-index: 1;
      pointer-events: none;
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border-radius: 5px;
      background-color: $background-color-hover;
    }

    span {
      position: relative;
      z-index: 2;
    }

    svg {
      z-index: 2;
    }
  }

  &__history {
    transition: 0.3s;

    display: none;
    &.show {
      display: block;
    }
  }

  &__package {
    cursor: pointer;
    user-select: none;
    width: 100%;
    position: relative;
    border-radius: 15px;
    background-color: #efefef;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    &:hover {
      background-color: #987575;
    }

    &-img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
      object-fit: cover;
    }
  }

  &__packageAdd {
    cursor: pointer;
    user-select: none;
    width: 100%;
    border-radius: 15px;
    color: #e41a7f;
    border-radius: 15px;
    border: 4px solid #e41a7f;
    display: flex;
    align-items: center;
    justify-content: center;

    > .icon {
      font-size: 60px;
    }

    &:hover {
      color: #fff;
      background-color: #e41a7f;
    }
  }
}
