@import '../common.scss';

.main {
  display: flex;
  justify-content: space-between;

  &__title {
    padding: 10px 0;
    margin-bottom: 15px;

    color: $title-color;
    font-size: $size-2;
    font-weight: 600;

    border-bottom: $border-bottom;

    &.mb-0 {
      margin-bottom: 0;
    }
  }

  &__left {
    width: calc(var(--width-left) - 10px);
    padding: 0 25px;
    margin-top: 10px;

    background-color: $background-white;

    box-shadow: $box-shadow-left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: 0.3s;

    @media (max-width: $break-point-large) {
      width: 100%;

      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media (max-width: $break-point-small) {
      padding: 0 10px;
    }
  }

  &__right {
    width: calc(100% - var(--width-left));
    height: calc(100vh - 10px - #{$header-height});

    background-color: $background-white;

    box-shadow: $box-shadow-right;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    z-index: $z-index-right;
    position: fixed;
    top: calc(#{$footer-height} + #{$header-height} + 10px);
    right: 0;

    transition: 0.3s;

    @media (max-width: $break-point-large) {
      width: var(--min-width-large);

      border-top-left-radius: 0;

      transform: translateX(100%);
      &.show {
        transform: translateX(0);
      }
    }

    @media (max-width: $break-point-extra-small) {
      width: var(--min-width-extra-small);
    }
  }

  &__arrow {
    z-index: $z-index-right;
    position: absolute;
    top: 0;
    right: 100%;

    width: 48px;
    height: 48px;

    background-color: $background-color-footer;

    transition: 0.3s;

    border: $border-bottom;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    > .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: rgba(169, 171, 179, 0.5);
      font-size: $icon-size;

      transition: 0.3s;
    }

    &.show {
      .icon {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &:hover {
      > .icon {
        color: rgb(169, 171, 179);
      }
    }
  }
}
