// -----------------------------HEIGHT------------------------ //

$break-point-large: 1430px;
$break-point-medium: 1280px;
$break-point-small: 768px;
$break-point-extra-small: 576px;

$footer-height: 30px;
$sidebar-footer-height: 50px;

$header-height: 56px;
$search-height: 40px;
$logo-height: 40px;

$icon-size: 30px;

// ----------------------------------------------------------- //

// --------------------------FONT SIZE------------------------ //

$size-1: 26px;
$size-2: 24px;
$size-3: 22px;
$size-4: 20px;
$size-5: 18px;
$size-6: 16px;

// ----------------------------------------------------------- //

// --------------------------COLOR---------------------------- //

$main-color: #e41a7f;
$title-color: #000;
$sub-title-color: #272727;
$text-color: #707070;
$light-text-color: #909090;
$placeholder-text-color: #bababa;
$border-color: #555;

$background-white: #fff;
$background-color-footer: #eaeaea;
$background-color-main: #f7f7f7;
$background-color-hover: #d9d9d9;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
$box-shadowLeft: 3px 3px 6px rgba(0, 0, 0, 0.2);
$box-shadowRight: -3px 3px 6px rgba(0, 0, 0, 0.2);
$box-shadow-popper: 0 5px 10px rgba(0, 0, 0, 0.3);

$border-bottom: 1px solid #d1d1d1;

// ----------------------------------------------------------- //

// --------------------------Z INDEX-------------------------- //

$z-index-footer: 300;
$z-index-header: 200;
$z-index-searchBar: 200;
$z-index-right: 100;

// ----------------------------------------------------------- //

// --------------------------MIXIN---------------------------- //

@mixin hidden-text($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

%hidden-scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

// ----------------------------------------------------------- //
