@import './font-face.scss';
@import './common.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: $text-color-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  background-color: #16171b;
  min-height: calc(100vh - #{$header-height});

  margin-left: auto;
  margin-right: 0;
  width: calc(100vw - 76px);
  transition: 0.3s;
  margin-top: $header-height;
  &.small {
    width: calc(100vw - 240px);
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button-follow {
  cursor: pointer;
  user-select: none;

  padding: 7px 12px;

  color: $primary-color;
  font-size: 16px;
  line-height: 1;

  background-color: transparent;
  border: 1px solid $primary-color;
  border-radius: 999px;

  transition: 0.3s;

  &:hover {
    color: $text-color-light;
    background-color: $button-color;
    border: none;
  }

  & > .span2 {
    display: none;
  }

  &.following {
    color: $text-color-light;
    background-color: $primary-color;
    border: none;
  }

  &.following:hover {
    color: $text-color-light;
    background-color: #6a6a6d;
    border: none;

    > .span1 {
      display: none;
    }

    > .span2 {
      display: initial;
    }
  }
}
